{% extends 'base.html.twig' %}
{% block title %}Word converter{% endblock %}
{% block content %}
<div class="space-y-3">
    <div class="overflow-x-auto">
        <table class="table table-xs">
            <thead>
                <tr>
                    <th colspan="2">Word to Excel Course Converter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Word file</th>
                    <td><input type="file" id="wordFile" class="file-input file-input-xs w-full" accept=".docx" required form="convertWordForm"></td>
                </tr>
                <tr>
                    <th>Permalinks file</th>
                    <td><input type="file" id="permalinksFile" class="file-input file-input-xs w-full" accept=".xlsx,.xls,.csv" required form="convertWordForm"></td>
                </tr>
                <tr>
                    <th>Action</th>
                    <td><button class="btn btn-xs" type="submit" form="convertWordForm">Convert and Match</button></td>
                </tr>
            </tbody>
        </table>
        <form id="convertWordForm" class="hidden"></form>
    </div>

    <div id="wordLoading" class="hidden alert alert-info"><span class="loading loading-spinner loading-xs"></span> Converting...</div>
    <div id="wordError" class="alert alert-error hidden"></div>
    <div id="wordSuccess" class="alert alert-success hidden">Word file processed successfully.</div>
</div>
{% endblock %}
{% block scripts %}<script src="{{ asset('js/app.js') }}"></script>{% endblock %}
