{% extends 'base.html.twig' %}
{% block title %}XML formatter{% endblock %}
{% block content %}
<div class="space-y-3">
    <div class="overflow-x-auto">
        <table class="table table-xs">
            <thead>
                <tr>
                    <th colspan="2">Convertor excel to xml</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Input file</th>
                    <td><input class="file-input file-input-xs w-full" type="file" id="xmlInputFile" accept=".csv,.xlsx,.xls" required form="xmlForm"></td>
                </tr>
                <tr>
                    <th>Action</th>
                    <td><button type="submit" class="btn btn-xs" form="xmlForm">Generate XML</button></td>
                </tr>
            </tbody>
        </table>
        <form id="xmlForm" class="hidden"></form>
    </div>

    <div id="xmlLoading" class="hidden alert alert-info"><span class="loading loading-spinner loading-xs"></span> Generating XML...</div>
    <div id="xmlError" class="alert alert-error hidden"></div>
    <div id="xmlSuccess" class="alert alert-success hidden">XML generated successfully.</div>
</div>
{% endblock %}
{% block scripts %}<script src="{{ asset('js/app.js') }}"></script>{% endblock %}
